.search-input-container {
  background-color: white;
  padding: 2.25rem 1.5rem;
  font-size: 1.4rem;
  box-shadow: 0px 2px 4px #00000026;
  border: 1px solid #cfdce6;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  .text-input {
    color: #48525a;
    opacity: 0.6;
    margin-left: 1rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    width: 100%;
  }
}
